	body{font-family: helvetica;color: #8c8c8c;}
	ul {
		background-color: #fff;
		
		list-style: none;
	}
	.block__list-title {
		margin: -20px 0 0;
		padding: 10px;
		text-align: center;
		background: #5F9EDF;
		color: #fff;
		text-transform: uppercase;
		font-weight: 700;
	}
	.block__list li { cursor: move; }

	.block__list_words li {
		background-color: #fff;
		padding: 10px 40px;
	}
	.block__list_words .sortable-ghost {
		opacity: 0.4;
		background-color: #F4E2C9;
	}

	.block__list_words li:first-letter {
		text-transform: uppercase;
	}
	.menu{}
	.module{}
	.content{}

	#menus i,
	#modules i,
	#contents i{
		display: none;
	}
		.editable li {
		position: relative;
	}

	.editable i {
		-webkit-transition: opacity .2s;
		transition: opacity .2s;
		opacity: 0;
		display: block;
		cursor: pointer;
		color: #c00;
		top: 10px;
		right: 40px;
		position: absolute;
		font-style: normal;
	}

	.editable li:hover i {
		opacity: 1;
	}
