models/
core/vendor/
core/cache/
upload-sftp/
test-upload-sftp/
# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

aplicacion/*~
aplicacion/*.sw[mnpcod]
aplicacion/*.log
aplicacion/*.tmp
aplicacion/*.tmp.*
aplicacion/log.txt
aplicacion/*.sublime-project
aplicacion/*.sublime-workspace
aplicacion/.vscode/
aplicacion/npm-debug.log*
aplicacion/
aplicacion/.idea/
aplicacion/.sourcemaps/
aplicacion/.sass-cache/
aplicacion/.tmp/
aplicacion/.versions/
aplicacion/coverage/
aplicacion/dist/
aplicacion/node_modules/
aplicacion/tmp/
aplicacion/temp/
aplicacion/hooks/
aplicacion/platforms/
aplicacion/plugins/
aplicacion/plugins/android.json
aplicacion/plugins/ios.json
aplicacion/www/
aplicacion/$RECYCLE.BIN/

aplicacion/.DS_Store
aplicacion/Thumbs.db
aplicacion/UserInterfaceState.xcuserstate