<!DOCTYPE html>
<html>
<head>
	<title></title>

</head>
<body>
	<input type="text" name="user" id="user" placeholder="Digite su usuario">
	<input type="text" name="name" id="name" placeholder="Digite su nombre">
	<input type="text" name="lastname" id="lastname" placeholder="Digite su apellido">
	<input type="text" name="email" id="email" placeholder="Digite su correo">
	<input type="password" name="password" id="password" placeholder="Digite su contraseña">
	<button type="button" id="edit-profile">Registrarse</button>
	<div id="message"></div>
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="js/edit-profile.js"></script>	
</body>
</html>
