	<!DOCTYPE html>
<html>
<head>
	<title></title>

</head>
<body>
	<form id="log-in" method="post" accept-charset="utf-8">
		<input type="text" name="user-or-email" id="user-or-email" placeholder="Digite su usuario o correo">
		<input type="password" name="password" id="password" placeholder="Digite su contraseña">
		<button type="button">Iniciar sesión</button>
	</form>
	<div id="message"></div>
	<a href="olvide-mis-datos" title="Olvidé mis datos">Olvidé mis datos</a>
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="js/functions.js"></script>
	<script type="text/javascript" src="js/log-in.js"></script>	
</body>
</html>
