<!DOCTYPE html>
<html>
<head>
	<title></title>

</head>
<body>
	<input type="user" name="user" placeholder="Digite su usuario">
	<input type="password" name="password" placeholder="Digite su contraseña">
	<button type="button" id="login">Iniciar sesión</button>
	<a href="/olvide-mis-datos" title="Olvidé mis datos">Olvidé mis datos</a>
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="js/login.js"></script>	
</body>
</html>
