<!DOCTYPE html>
<html>
<head>
	<title></title>

</head>
<body>
	<input type="text" name="name" id="name" placeholder="Digite su nombre" value="{# $data['name'] #}">
	<input type="text" name="lastname" id="lastname" placeholder="Digite su apellido" value="{# $data['lastname'] #}">
	<input type="text" name="email" id="email" placeholder="Digite su correo" value="{# $data['email'] #}">
	<button type="button" id="update-user">Ediatr perfil</button>
	<div id="message"></div>
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="js/update-user.js"></script>	
</body>
</html>
