<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link href="css/main.css" type="text/css" rel="stylesheet" />
</head>
<body>

	<table id="tree-menu" style="width:100%;text-align:center">
		<tr>
			<td>
				<form id="item-0" method="post" accept-charset="utf-8">
					<label for="name">Digite el nombre</label>
					<input type="text" name="text" placeholder="Digite el nombre" />
					<input type="hidden" name="id" id="id-0" value="null">
					<input type="hidden" name="counter-0" id="counter-0" value="0">
					<button class="add-item" data-key="0" >+</button>
				</form>
			</td>
		</tr>
	</table>
	<button id="end" type="button">Finalizar</button>

	<div id="message"></div>

	<div id="files-modal">
		
	</div>

	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="{#PATH_ROOT#}/core/resources/js/vendor/jquery-validate.min.js"></script>
	<script type="text/javascript" src="{#PATH_ROOT#}/core/resources/js/onkeypress.js"></script>
	<script type="text/javascript" src="{#PATH_ROOT#}/core/resources/js/functions.js"></script>
	<script type="text/javascript" src="js/create-menu.js"></script>
	<script type="text/javascript" src="js/files-modal.js"></script>
	</body>
</html>
