<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style type="text/css" media="screen">
	</style>
</head>
<body>

	<form id="create-menu" method="post" accept-charset="utf-8">
	<table id="tree-menu" style="width:100%;text-align:center">
		<tr>
			<td>
				<div id="item-0" method="post" accept-charset="utf-8">
					<label for="name">Digite el nombre</label>
					<input type="text" name="text-0" data-position="0" data-name-position="text" placeholder="Digite el nombre" />
					<input type="hidden" name="sons-0" id="sons-0" value="0">
					<input type="hidden" name="fhater-0" value="0">
					<input type="hidden" name="counter-0" id="counter-0" value="0">
					<button class="add-item" data-id="0" >+</button>
				</div>
			</td>
		</tr>
	</table>
	<button id="button" type="button">Crear menu</button>
	</form>

	<div id="message"></div>
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="js/functions.js"></script>
	<script type="text/javascript" src="js/create-menu.js"></script>
	</body>
</html>
