<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link href="css/hortree.css" type="text/css" rel="stylesheet" />
</head>
<body>
	<div id="tree"></div>
	<div id="fhater" data-id="{#$fhather#}"></div>
	<div id="message"></div>
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="js/vendor/line.js"></script>
	<script type="text/javascript" src="js/vendor/hortree.js"></script>
	<script type="text/javascript" src="js/functions.js"></script>
	<script type="text/javascript" src="js/update-menu.js"></script>
	</body>
</html>
