<!DOCTYPE html>
<html lang="es" xml:lang="es" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title></title>

</head>
<body>
	<div id="message"></div>
	<table>
		<caption>Contenidos</caption>
		<thead>
			<tr> 
				<th>Nombre</th>
				<th>Estado</th> 
				<th>Acción</th> 
			</tr>
		</thead>
		<tbody>
			{#foreach from=$contents item=content #}
				<tr>
					<td>{#$content.nombre #}</td>
					<td>{#$content.nombre #}</td>
					<td>
						<button data-id="{#$content.id #}" class="update-content">Editar</button>
						<button data-id="{#$content.id #}" class="delete-content">Eliminar</button>
					</td>
				</tr>
			{#/foreach #}
		</tbody>
	</table>
	<ul>
		<li><a href="crear-contenido" title="">Crear contenido</a></li>
		<li><a href="perfil" title="">Volver</a></li>
	</ul>
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

	<script type="text/javascript" src="{#PATH_ROOT#}/core/resources/js/vendor/jquery-validate.min.js"></script>
	<script type="text/javascript" src="{#PATH_ROOT#}/core/resources/js/onkeypress.js"></script>
	<script type="text/javascript" src="{#PATH_ROOT#}/core/resources/js/functions.js"></script>
	<script type="text/javascript" src="js/contents.js"></script>
</body>
</html>
