<!DOCTYPE html>
<html>
<head>
	<title></title>

</head>
<body>
	<form id="create-content" method="post" accept-charset="utf-8">
		<input type="text" name="name" id="name" placeholder="Digite el nombre">
		<button type="button">Crear contenido</button>
	</form>
	<div id="message"></div>
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="js/functions.js"></script>
	<script type="text/javascript" src="js/create-content.js"></script>
	</body>
</html>
