<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>ContentTools sandbox</title>
        <style type="text/css" media="screen">
            .article {
                max-width: 920px;
                margin-left: auto;
                margin-right: auto;
                padding: 0 10px 2em;
            }
            .article h1 {
                color: #3c3c3c;
                font-family: georgia, serif;
                font-size: 60px;
                margin-bottom: 0;
            }
        </style>
        <link rel="stylesheet" type="text/css" href="js/vendor/build/content-tools.min.css">
    </head>
    <body>
        <article class="article">
            <div data-editable data-name="article">
                {#$content['contenido']#}
            </div>
        </article>
        <form id="update-content" method="post" accept-charset="utf-8">
            <input type="hidden" name="id" value="{#$content['id']#}">
            <input type="hidden" name="content" id="content">
        </form>
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="js/vendor/build/content-tools.js"></script>
        <script type="text/javascript" src="js/sandbox.js"></script>
    </body>
</html>
