<!DOCTYPE html>
<html>
<head>
	<title></title>

</head>
<body>
	{#include  file="../../../../modules/$module/preview.html"#}
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

	<script type="text/javascript" src="{#PATH_ROOT#}/core/resources/js/vendor/jquery-validate.min.js"></script>
	<script type="text/javascript" src="{#PATH_ROOT#}/core/resources/js/onkeypress.js"></script>
	<script type="text/javascript" src="{#PATH_ROOT#}/core/resources/js/functions.js"></script>
	<script type="text/javascript" src="js/configurate-module.js"></script>
</body>
</html>
