<!DOCTYPE html>
<html lang="es" xml:lang="es" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title></title>

</head>
<body>
	<table>
		<caption>Modulos</caption>
		<thead>
			<tr> 
				<th>Nombre</th>
				<th>Estado</th>
				<th>Acción</th> 
			</tr>
		</thead>
		<tbody>
			{#foreach from=$modules item=module #}
				<tr>
					<td>{#$module.nombre #}</td>
					<td>{#$module.estado #}</td>
					<td>
						<button data-id="{#$module.id #}" class="update-module">Editar</button>
						{#if $module.administrable=="Si" #}
						<button data-id="{#$module.id #}" class="configure-module">Configurar</button>
						{#/if#}						
						<button data-id="{#$module.id #}" class="delete-module">Eliminar</button>
					</td>
				</tr>
			{#/foreach #}
		</tbody>
	</table>
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="js/functions.js"></script>
	<script type="text/javascript" src="js/modules.js"></script>
</body>
</html>
