<!DOCTYPE html>
<html>
<head>
	<title></title>

</head>
<body>
	<form id="forget-data">
		<input type="text" name="user-or-email" id="user-or-email" placeholder="Digite su usuario o correo electrónico">
		<button type="button" >Recordar datos</button>
	</form>
	<div id="message"></div>
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="js/functions.js"></script>
	<script type="text/javascript" src="js/forget-data.js"></script>	
</body>
</html>
