	<!DOCTYPE html>
<html>
<head>
	<title></title>

</head>
<body>
	<form id="log-in" method="post" accept-charset="utf-8">

		<label for="user-or-email">Usuario o correo</label>
		<input type="text" name="user-or-email" id="user-or-email" placeholder="Digite su usuario o correo">
		<br>

		<label for="password">Contraseña</label>
		<input type="password" name="password" id="password" placeholder="Digite su contraseña">
		<br>
		
		<button type="button">Iniciar sesión</button>

	</form>
	<a href="olvide-mis-datos" title="Olvidé mis datos">Olvidé mis datos</a>
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="{#PATH_ROOT#}/core/resources/js/vendor/jquery-validate.min.js"></script>
	<script type="text/javascript" src="{#PATH_ROOT#}/core/resources/js/onkeypress.js"></script>
	<script type="text/javascript" src="{#PATH_ROOT#}/core/resources/js/functions.js"></script>
	<script type="text/javascript" src="js/log-in.js"></script>	
</body>
</html>
