<!DOCTYPE html>
<html lang="es" xml:lang="es" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title></title>
	</head>
<body>
	<ul>
		<li><a href="usuarios" title="usuarios">Usuarios</a></li>
		<li><a href="modulos" title="modulos">Modulos</a></li>
		<li><a href="menus" title="menus">Menus</a></li>
		<li><a href="contenidos" title="contenidos">Contenidos</a></li>
		<li><a href="archivos" title="archivos">Archivos</a></li>
		<li><a href="secciones" title="seccion">Sección</a></li>
		<li><a href="cerrar-sesion" title="cerrar-sesion">Cerrar sesión</a></li>
	</ul>
</body>
</html>
