<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="">
	<!-- Quitar -->
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	{#foreach from=$archivesModules item=archive#}
		{#if $archive['posicion']=='C'#}
			{#if $archive['tipoArchivo']=='js'#}
				<script type="text/javascript" src="{#PATH_ROOT#}modules/{#$archive['nombreModulo']#}/{#$archive['nombreArchivo']#}.{#$archive['tipoArchivo']#}">
				</script>
			{#/if#}
		{#/if#}	
	{#/foreach#}
	<!-- Quitar -->
</head>
<body>
	{#foreach from=$data item=components #}
		{#foreach key=key from=$components item=component #}
			{#if $component->tipoComponente == 'menu'#}
				{#if !$component->idPadre#}<ul>{#/if#}
			    {#if $component->idPadre#}
			    	<li>{#$component->texto#}</li>
			    	{#if count($components)-1 == $key#}
			    		</ul>
			    	{#/if#}
			    {#/if#}

			{#elseif $component->tipoComponente == 'contenido'#}
			    {#$component->contenido#}
			{#else#}
				{#assign var="nombreModulo" value=$component->nombre#}
			    {#include  file="../../modules/$nombreModulo/index.html"#}
			{#/if#}
		{#/foreach#}	
	{#/foreach#}

	{#foreach from=$archivesModules item=archive#}
		{#if $archive['posicion']=='P'#}
			{#if $archive['tipoArchivo']=='js'#}
				<script type="text/javascript" src="{#PATH_ROOT#}modules/{#$archive['nombreModulo']#}/{#$archive['nombreArchivo']#}.{#$archive['tipoArchivo']#}">
				</script>
			{#/if#}
		{#/if#}	
	{#/foreach#}
</body>
</html>