<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link href="css/dropzone.css" type="text/css" rel="stylesheet" />
</head>
<body>
	<form action="create-file" id="create-file" class="dropzone">
		<div class="fallback">
			<input name="file" type="file" multiple />
		</div>
	</form>
	<div id="message"></div>
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="js/vendor/dropzone.js"></script>
	<script type="text/javascript" src="js/functions.js"></script>
	<script type="text/javascript" src="js/create-file.js"></script>
	</body>
</html>
